<h1>

    Here is the Quiz infomarion

    <div class="container mt-sm-5 my-5">
        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <form  (ngSubmit)="handleFormSubmit(questions[index])">
            <div class="py-2 h5 card px-3"><b>Q.no-{{index+1}}  {{questions[index].question}}</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">{{questions[index].options.one}}
                    <input type="radio" name="ans"  value="{{questions[index].options.one}}"   [(ngModel)]='ans'>
                    <span class="checkmark"></span>
                </label>
                <label class="options">{{questions[index].options.two}}
                    <input type="radio" name="ans" value="{{questions[index].options.two}}"  [(ngModel)]='ans'>
                    <span class="checkmark"></span>
                </label>
                <label class="options">{{questions[index].options.three}}
                    <input type="radio" name="ans"  value="{{questions[index].options.three}}"  [(ngModel)]='ans'>
                    <span class="checkmark"></span>
                </label>
                <label class="options">{{questions[index].options.four}}
                    <input type="radio" name="ans"  value="{{questions[index].options.four}}"  [(ngModel)]='ans'>
                    <span class="checkmark"></span>
                </label>
           
           
                <button type="submit" class="btn btn-primary float-right" >Nextsubmit </button>
            </div>
            </form>
        </div>
        <h5 class="d-flex align-items-center pt-3 d-flex justify-content-around">
                <button class="btn btn-danger" (click)="changeQuestion('pre')">Previous</button>
          
                <button class="btn btn-primary float-right" (click)="changeQuestion('next')">Next</button>
                <button class="btn btn-primary float-right" (click)="viewResult()">Result</button>


          </h5>
    </div>
</h1>
