<!-- <div style="background-color: gray; " class="container">
<button (click)='startTimer()'>Start Timer</button>
 <button (click)='pauseTimer()'>Pause</button> 

<p>{{timeLeft}} Seconds Left....</p></div> -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Exam Started &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time Left.... {{timeLeft}} &nbsp; &nbsp; </a>

    <button (click)="startTimer()" class="btn btn-outline bg-info" type="submit" >Timer</button>

  </div>
</nav>


<table class="table mt-1  mt=0 p-0 w-90 mx-auto">
  <thead>
    <tr class="bg-dark">
      <th scope="col">S.no</th>
      <th scope="col">Questions</th>
      <th scope="col">Option</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of randomTen">
      <td>{{data.id}}</td>
      <td>{{data.question}}
      <td>

        <!-- <td><input type="radio">{{data.option1}}</td><br>
          <td><input type="radio">{{data.option2}}</td><br>
          <td><input type="radio">{{data.option3}}</td><br> -->

        <mat-radio-group class="tp-radio-button">

          <div class="tp-selected-value">
            <mat-radio-button>{{data.option1}}
            </mat-radio-button>
          </div>


          <div class="tp-selected-value">
            <mat-radio-button>
              {{data.option2}}
            </mat-radio-button>
          </div>

          <div class="tp-selected-value">
            <mat-radio-button>
              {{data.option3}}
            </mat-radio-button>
          </div>
          <div class="tp-selected-value">
            <mat-radio-button>
              {{data.option4}}
            </mat-radio-button>
          </div>
        </mat-radio-group>
      <td>
        <button class="btn btn-warning" (click)="postUser()">Submit</button>
      </td>
    </tr>
  </tbody>
</table>
<mat-paginator [length]="100" [pageSize]="1" [pageSizeOptions]="[1]" aria-label="Select page(random)">
</mat-paginator>

<div>

  <div class="container mt-sm-5 my-5">
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>Q.no-{{index}}  {{randomTen[index].question}}</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            <label class="options">{{randomTen[index].option1}}
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">{{randomTen[index].option2}}
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">{{randomTen[index].option3}}
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
            <label class="options">{{randomTen[index].option4}}
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <h5 class="d-flex align-items-center pt-3 d-flex justify-content-around">
            <button class="btn btn-danger" (click)="changeQuestion('pre')">Previous</button>
      
            <button class="btn btn-primary float-right" (click)="changeQuestion('next')">Next</button>
      </h5>
</div>
</div>


